<html>

<head>
    <link rel="stylesheet" type="text/css" href="app.css">
    <link href="lib/css/tabulator/tabulator.min.css" rel="stylesheet">
    <link href="lib/css/dark/toggle-bootstrap.min.css" rel="stylesheet">
    <link href="lib/css/dark/toggle-bootstrap-dark.min.css" rel="stylesheet">
    <link href="lib/css/tabulator/semantic-ui/tabulator_semantic-ui.min.css" rel="stylesheet">
    <script type="text/javascript" src="lib/js/jquery/jquery-3.5.1.min.js"
            onload="window.$ = window.jQuery = module.exports;"></script>
    <script type="text/javascript" src="lib/js/moment/moment.min.js"></script>
    <script type="text/javascript" src="lib/js/tabulator/tabulator.min.js"></script>
    <script type="text/javascript" src="lib/js/jsrender/jsrender.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
</head>

<body class="bootstrap">
<div class="wrapper">
    <ul class="tabs clearfix" data-tabgroup="tab-group">
        <li><a href="#library" class="active">Library</a></li>
        <li><a href="#missing">Missing games</a></li>
        <li><a href="#updates">Updates</a></li>
        <li><a href="#dlc">DLC</a></li>
        <li><a href="#organize">Organize</a></li>
        <li><a href="#status">Issues</a></li>
        <li><a href="#settings">Settings</a></li>
    </ul>
    <div class="progress-container">
        <h5 class="progress-type">Loading...</h5>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="" aria-valuenow="" aria-valuemin="0"
                 aria-valuemax="100"></div>
        </div>
        <div class="progress-msg"></div>
    </div>
    <section id="tab-group" class="tabgroup">
        <div id="library"></div>
        <div id="updates"></div>
        <div id="missing"></div>
        <div id="dlc"></div>
        <div id="organize"></div>
        <div id="status"></div>
        <div id="settings"></div>
    </section>
</div>

<script id="settingsTemplate" type="text/x-jsrender">
    <div class="alert alert-success" role="alert">
        You can edit the settings, by modifying the settings.json file, and reloading the app
    </div>
    <pre><code class="settings-json">{{:code}}</code></pre>

</script>

<script id="missingTemplate" type="text/x-jsrender">
    {{if folder}}
        {{if missingGames && missingGames.length}}
            <div class="alert center alert-warning" role="alert">
                There are {{:missingGames.length}} games missing in your local library:
                <button type="button" class="btn btn-link export-btn">export to csv</button>
            </div>
            <section id="missingGames-table" class="content"></section>
        {{else}}
            <div class="alert center alert-success" role="alert">
                You have all the games, you are not missing any Games!
            </div>
        {{/if}}
    {{else}}
        <div class="alert center alert-warning" role="alert">
            Local games folder is not set, please set the folder to get started
        </div>
        <div class="center">
              <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
        </div>
    {{/if}}
</script>

<script id="libraryTemplate" type="text/x-jsrender">
    {{if folder}}
        {{if library && library.length}}
            <div class="alert center alert-info" role="alert">
                Selected folder: ({{:folder}}) {{if scanFolders && scanFolders.length}}
                (and {{:scanFolders.length}} additional folders)
                <div>
                {{/if}}
                <button type="button" class="btn btn-link folder-set">change</button>
                <button type="button" class="btn btn-link folder-set">add</button> |
                <button type="button" class="btn btn-link export-btn">export to csv</button>
            </div>
            {{if keys === "false"}}
            <div id="missingkeys" class="alert center alert-danger" role="alert" >
                Prod.keys was not found, deep NSP scan is disabled, library content is based on file names tags.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick='$("#missingkeys").hide()'>
                   <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{/if}}
            {{if num_skipped != 0}}
                 <div id="scan_issues" class="alert center alert-warning" role="alert">
                {{:num_skipped}} out of {{:num_files}} files were skipped during scan, click on the issues tab to learn more
                <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick='$("#scan_issues").hide()'>
                   <span aria-hidden="true">&times;</span>
                </button>
                  </div>
            {{/if}}
            <section id="library-table" class="content"></section>
        {{else}}
            <div class="alert center alert-warning" role="alert">
            {{if num_skipped != 0}}}
                 {{:num_skipped}} out of {{:num_files}} files were skipped during scan, click on the issues tab to learn more
            {{else}}
                The selected folder ({{:folder}}) is empty. please set a different folder
            {{/if}}
            </div>
            {{if !keys}}
            <div id="missingkeys" class="alert center alert-danger" role="alert" >
                Prod.keys was not found, analysing NSP is disabled, library content is based on file names only
            </div>
            {{/if}}
            <div class="center">
                  <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
            </div>
        {{/if}}
    {{else}}
        <div class="alert center alert-warning" role="alert">
            Local games folder is not set, please set the folder to get started
        </div>
            {{if !keys}}
            <div id="missingkeys" class="alert center alert-danger" role="alert" >
                Prod.keys was not found - deep games scan is disabled, the library content is based only on file name tags
            </div>
            {{/if}}
        <div class="center">
              <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
        </div>
    {{/if}}
</script>

<script id="updatesTemplate" type="text/x-jsrender">
    {{if folder}}
        {{if updates && updates.length}}
            <div class="alert center alert-warning" role="alert">
                There are {{:updates.length}} games/DLC with missing updates:
               <button type="button" class="btn btn-link export-btn">export to csv</button>
            </div>
            <section id="updates-table" class="content"></section>
        {{else}}
            <div class="alert center alert-success" role="alert">
                All games are up to date, you are not missing any updates!
            </div>
        {{/if}}
    {{else}}
        <div class="alert center alert-warning" role="alert">
            Local games folder is not set, please set the folder to get started
        </div>
        <div class="center">
              <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
        </div>
    {{/if}}
</script>

<script id="dlcTemplate" type="text/x-jsrender">
   {{if folder}}
        {{if dlc && dlc.length}}
            <div class="alert center alert-warning" role="alert">
                There are {{:dlc.length}} games with missing DLC's in your local library:
                <button type="button" class="btn btn-link export-btn">export to csv</button>
            </div>
            <section id="dlc-table" class="content"></section>
        {{else}}
            <div class="alert center alert-success" role="alert">
                All games are up to date, you are not missing any DLC's!
            </div>
        {{/if}}
    {{else}}
        <div class="alert center alert-warning" role="alert">
            Local games folder is not set, please set the folder to get started
        </div>
        <div class="center">
              <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
        </div>
    {{/if}}

</script>

<script id="statusTemplate" type="text/x-jsrender">
   {{if folder}}
        {{if library && library.length}}
            <div class="alert center alert-warning" role="alert">
                {{:library.length}} files were skipped during scan, additional details below:
                <button type="button" class="btn btn-link export-btn">export to csv</button>
            </div>
            <section id="status-table" class="content"></section>
        {{else}}
            <div class="alert center alert-success" role="alert">
                No issues found
            </div>
        {{/if}}
    {{else}}
        <div class="alert center alert-warning" role="alert">
            Local games folder is not set, please set the folder to get started
        </div>
        <div class="center">
              <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
        </div>
    {{/if}}

</script>

<script id="organizeTemplate" type="text/x-jsrender">
  {{if folder}}
   <div class="alert center alert-info" role="alert">
       You can automatically organize your library into a folder per game structure,
       Or just rename the files to a standard way, the options below can be customize through the settings.json file.
   </div>
   <div class="container">
      <form>
          <div class="form-group row">
            <label for="baseFolder" class="col-sm-2 col-form-label">Base folder</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="baseFolder" value="{{:folder}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="createFolders" class="col-sm-2 col-form-label">Create folders</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="createFolders" value="{{:settings.organize_options.create_folder_per_game}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="createFolders" class="col-sm-2 col-form-label">Rename files</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="createFolders" value="{{:settings.organize_options.rename_files}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="createFolders" class="col-sm-2 col-form-label">Delete empty folders</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="createFolders" value="{{:settings.organize_options.delete_empty_folders}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="createFolders" class="col-sm-2 col-form-label">Delete old update files</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="createFolders" value="{{:settings.organize_options.delete_old_update_files}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="createFolders" class="col-sm-2 col-form-label">Folder name template</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="createFolders" value="{{:settings.organize_options.folder_name_template}}">
            </div>
          </div>
          <div class="form-group row">
            <label for="createFolders" class="col-sm-2 col-form-label">File name template</label>
            <div class="col-sm-10">
              <input type="text" readonly class="form-control-plaintext" id="createFolders" value="{{:settings.organize_options.file_name_template}}">
            </div>
          </div>
             <button type="submit" class="btn btn-primary library-organize-action">Begin library organization</button>
        </div>
      </form>
   </div>

    {{else}}
        <div class="alert center alert-warning" role="alert">
            Local games folder is not set, please set the folder to get started
        </div>
        <div class="center">
              <button type="button" class="btn btn-outline-primary folder-set">Set Folder</button>
        </div>
    {{/if}}

</script>


</body>
</html>